@import url("https://fonts.googleapis.com/css2?family=Inter+Tight:ital,wght@0,100..900;1,100..900&family=PT+Serif:ital,wght@0,400;0,700;1,400;1,700&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

@import "tailwindcss";

:root {
  --custom-cursor-default-value: url("/cursors/cursor-default.svg"), auto;
  --custom-cursor-pointer-value: url("/cursors/cursor-pointer.svg"), pointer;
  --custom-cursor-text-value: url("/cursors/cursor-text.svg"), text;
}

@theme {
  --font-sans: "Atkinson Hyperlegible Next", sans-serif;
  --font-sans: "Inter Tight", sans-serif;
  --font-serif: "PT Serif", serif;
  --font-display: "Poppins", sans-serif;

  --cursor-default: var(--custom-cursor-default-value);
  --cursor-pointer: var(--custom-cursor-pointer-value);
  --cursor-text: var(--custom-cursor-text-value);
  --cursor-auto: var(--custom-cursor-default-value);
}

html,
body {
  cursor: var(--custom-cursor-default-value);
}

::selection {
  background-color: #fde68a;
  color: #92400e;
}

::-moz-selection {
  background-color: #fde68a;
  color: #92400e;
}
